$codebg='#F0FFF0';

body {
	font-family: "Avenir Next", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	padding:1em;
	margin:auto;
	/*max-width:42em;*/
	background:#fefefe;
	line-height: 1.4em;
}

/*
// For greyscale images
img {
  filter: grayscale(100%);
}
*/


h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	color: #000000;
	font-size: 28pt;
}

h2 {
	border-bottom: 1px solid #CCCCCC;
	color: #000000;
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	color: #777777;
	background-color: inherit;
	font-size: 14px;
}

hr {
	height: 0.2em;
	border: 0;
	color: #CCCCCC;
	background-color: #CCCCCC;
}

/* p, blockquote, ul, ol, dl, li, table, pre { */
/* p, blockquote, table, pre { */
	margin: 15px 0;
}

a, a:visited {
	color: #4183C4;
	background-color: inherit;
	text-decoration: none;
}

#message {
	border-radius: 6px;
	border: 1px solid #ccc;
	display:block;
	width:100%;
	height:60px;
	margin:6px 0px;
}

button, #ws {
	font-size: 10pt;
	padding: 4px 6px;
	border-radius: 5px;
	border: 1px solid #bbb;
	background-color: #eee;
}

code, pre, #ws, #message {
	font-family: Monaco;
	/*-sfontize: 10pt;*/
	border-radius: 3px;
	/* White background */
	background-color: #FFFFFF;
	color: inherit;
}

// 
code {
	font-weight: bold;
	font-size: 13px;
}

pre {
	border: 1px solid #CCCCCC;
	overflow: auto;
	padding: 4px 8px;
	/* Light blue background for pre blocks */
	background-color: #EBF5FF; 	
}

/* Block code blocks (code blocks that are direct children of pre) */
pre > code {
	border: 0;
	margin: 0;
	padding: 0;
	/* Light blue background for block code blocks */
	background-color: #EBF5FF; 
    font-weight: normal;
}

#ws { background-color: #f8f8f8; }

/* p, blockquote, ul, ol, dl, li, table, pre { */
ul, ol, dl, li {
	margin: 5px 0;
}

footer {
	margin-top: 15px;
}

.send { color:#77bb77; }
.server { color:#7799bb; }
.error { color:#AA0000; }
